<% include header.ejs %>
      <div class="jumbotron">
        <h3>徐州前端引导图片上传服务</h3>
        <p class="lead">
            点击上传按钮，跳转到上传图片页面，图片的保存地址即显示的当前目录。
        </p>
        <p class="lead">
         点击管理按钮，可以预览和删除图片文件夹。
        </p>
      </div>
<% include footer.ejs %>