<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/css/login.css' />

<link rel='stylesheet' href='/css/sticky-footer-navbar.css'/>
<link rel="stylesheet" type="text/css" href="/css/dropzone.min.css" />
<script type="text/javascript" src="/js/dropzone.min.js"></script>
<link rel='stylesheet' href='/css/justified-nav.css'>
</head>
<body>
     <div class="container">
     

        <nav>
          <ul class="nav nav-justified">
            <li><a href='/home'>Home</a></li>
            <li><a href='/dropzone'>上传</a></li>
            <li><a href='/upload/manager'>管理</a></li>
            <li><a href='/about'>关于</a></li>
            <li><a href='/logout'>退出</a></li>
          </ul>
        </nav>
   